<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>no.engenett.Kolorist.lenke</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kolorist</string>
			</array>
		</dict>
	</array>
	<key>NSCameraUseContinuityCameraDeviceType</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.no.engenett.Kolorist</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Kolorist</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kolorist-farge</string>
			<key>UTTypeIdentifier</key>
			<string>no.engenett.kolorist.farge</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>koloristfarge</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.json</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kolorist-palettfarge</string>
			<key>UTTypeIdentifier</key>
			<string>no.engenett.kolorist.palettfarge</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Kolorist-palett</string>
			<key>UTTypeIdentifier</key>
			<string>no.engenett.kolorist.palett</string>
		</dict>
	</array>
</dict>
</plist>
